@{
    ViewBag.Title = "WisDOT Standard Bridge Design Tool";
}
<div>
    <br />
</div>
<div>
    <h4><b><i>WisDOT Standard Bridge Design Tool</i></b></h4>
    <hr />
</div>
<div>
    <h4><b><i>About</i></b></h4>
    <p>
        The Standardard Bridge Design Tool launched in 2021 to streamline the design and drafting of single-span concrete bridges
        by providing automated plans. The WisDOT Bureau of Structures created the tool with assistance from the department's
        Bureau of Information Technology and Services staff using in-house resources. The tool leverages the department's
        extensive expertise in structural engineering to prescribe tried and tested solutions to deliver a quality transportation
        product for the traveling public.
    </p>
    <p>
        The tool is part of a larger movement throughout the department to leverage technology and improve processes to create efficiency
        and preserve resources. We appreciate the work of our partners in the consultant engineering field who are using this tool to
        create benefit in communities throughout Wisconsin.
    </p>
    <p>
        More information can be found at the following links:
        <br />
        <a href="https://wisconsindot.gov/Pages/doing-bus/local-gov/astnce-pgms/highway/localbridge.aspx" target="_blank">Local Bridge Improvement Assistance</a>
        <br />
        <a href="https://wisconsindot.gov/Pages/doing-bus/local-gov/lpm/lp-standarized-bridge-plan-pilot.aspx" target="_blank">Local Program Standard Bridge Plan Pilot</a>
        <br />
        <a href="https://wisconsindot.gov/Pages/doing-bus/eng-consultants/cnslt-rsrces/strct/bridge-manual.aspx" target="_blank">Wisconsin DOT Bridge Manual</a>
    </p>
</div>
<div>
    <a name="contacts"></a>
    <h4><b><i>Contacts</i></b></h4>
    <p>
        Have questions about the Standard Bridge Design Tool? The Bureau of Structures has staff that developed this tool and are ready to ensure you're receiving the
        assistance you need to effectively use it. From general questions to specific, project-related ones -- we're here to help!
    </p>
    <p>
        General and Project-Specific Inquiries:
        <br />
        <a href="mailto:aaron.bonk@dot.wi.gov">Aaron Bonk, PE</a>
        <br />
        Chief Structures Design Engineer
        <br />
        WisDOT Bureau of Structures
        <br />
        <a href="mailto:aaron.bonk@dot.wi.gov">aaron.bonk@dot.wi.gov</a>
    </p>
    <p>
        Web App and Technical Inquiries:
        <br />
        <a href="mailto:danielle.detennis@dot.wi.gov">Danielle DeTennis, PE</a>
        <br />
        Structures Automation Engineer
        <br />
        WisDOT Bureau of Structures
        <br />
        <a href="mailto:danielle.detennis@dot.wi.gov">danielle.detennis@dot.wi.gov</a>
    </p>
    <hr />
</div>